* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.navbar {
  width: 100vw;
  height: 12vh;
  background-color: #030708;
}
.navbar .logo {
  height: 40px;
  margin-left: 15px;
  position: absolute;
  cursor: pointer;
}
.logo:hover {
  border: 2px solid white;
  border-radius: 4px;
  height: 50px;
}
.location i {
  margin-left: 150px;
  color: white;
  position: absolute;
  cursor: pointer;
}
.update-location {
  color: white;
  position: absolute;
  margin-left: 170px;
  padding: 2px 2px 2px 2px;
  font-size: small;
  cursor: pointer;
}
.update-location:hover {
  border: 2px solid white;
  border-radius: 4px;
}

.drop-down {
  margin-left: 370px;
  position: absolute;
}
.drop-down button {
  width: 4vw;
  height: 7vh;
  border: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(167, 166, 166);
}
.input {
  position: absolute;
  margin-left: 423px;
}
.input input {
  width: 30vw;
  height: 7vh;
  border: 1px solid white;
}
.input i {
  color: black;
  position: absolute;
  background-color: goldenrod;
  width: 4vw;
  height: 7vh;
  padding: 18px 0px 0px 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.Account-list {
  color: white;
  position: absolute;
  margin-left: 890px;
  font-size: small;
}
.Account-list a{
  text-decoration: none;
  color: white;
}
.Account-list a:hover{
  color: white;
}

.order {
  color: white;
  position: absolute;
  margin-left: 1030px;
  font-size: small;
}
.cart {
  color: white;
  position: absolute;
  margin-left: 1130px;
}
p {
  height: 9px;
  margin-left: 1160px;
  position: absolute;
  color: white;
  font-size: x-large;
  font-weight: 400;
  margin-top: 50px;
}
.navbar-2 {
  width: 100vw;
  background-color: rgb(23, 23, 44);
  height: 7vh;
  display: flex;
}
.navbar-2 ul {
  margin: 2px;
}
.navbar-2 ul li {
  display: inline-flex;
  padding: 2px 25px 0px 0px;
  color: white;
  list-style: none;
  height: 6vh;
}
.navbar-2 i {
  color: white;
}
.navbar-2 ul li:hover {
  border: 1px solid white;
  border-radius: 4px;
}
.navbar-2 h6 {
  color: white;
  margin-left: 1150px;
  position: absolute;
  margin-top: 8px;
}
.navbar-2 h6:hover {
  border: 1px solid white;
  border-radius: 4px;
}

.main {
  cursor: pointer;
  background-color: wheat;
  position: absolute;

  height: 430px;
  width: 400px;
  display: grid;
  gap: 20px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  margin-left: 10px;
}
.main-container {
  height: 300px;
  width: 180px;
  margin-top: -100px;
  margin-left: 20px;
}
.main-container img:hover {
  box-shadow: 0px -2px 20px 2px rgb(182, 133, 42);
  transform: scale(1.1);
}
.main h4 {
  color: black;
  height: 30px;
  width: 300px;
  margin-left: 20px;
}

.main-2 {
  cursor: pointer;
  background-color: wheat;
  position: absolute;
  margin-top: -385px;
  height: 430px;
  width: 400px;
  display: grid;
  gap: 20px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  margin-left: 220px;
}
.main-container-2 {
  height: 300px;
  width: 180px;
  margin-top: 70px;
  margin-left: 20px;
}
.main-2 h4 {
  color: black;
  height: 30px;
  width: 300px;
  margin-left: 20px;
  position: absolute;
}
.main-3 {
  cursor: pointer;
  background-color: wheat;
  position: absolute;
  margin-top: px;
  height: 430px;
  width: 400px;
  display: grid;
  gap: 20px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  margin-left: 410px;
}
.main-container-3 {
  height: 300px;
  width: 180px;
  margin-top: 70px;
  margin-left: 20px;
}
.main-4 {
  cursor: pointer;
  background-color: wheat;
  position: absolute;
  margin-top: 470px;
  height: 430px;
  width: 400px;
  display: flex;
  margin-left: -410px;
}
.main-container-4 {
  height: 300px;
  width: 200px;
  margin-top: 90px;
  margin-left: 20px;
}
.main-4 a {
  color: blue;
  text-decoration: none;
}
.main-4 a:hover {
  text-decoration: underline;
}

.main-5 {
  cursor: pointer;
  background-color: wheat;
  position: absolute;
  margin-top: px;
  height: 430px;
  width: 400px;
  display: grid;
  gap: 40px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  margin-left: 410px;
}
.main-container-5 {
  height: 300px;
  width: 180px;
  margin-top: 70px;
  margin-left: 20px;
}

.main-6 {
  cursor: pointer;
  background-color: wheat;
  position: absolute;
  height: 430px;
  width: 400px;
  display: grid;
  gap: 40px;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  margin-left: 820px;
}
.main-container-6 {
  height: 300px;
  width: 180px;
  margin-top: 70px;
  margin-left: 20px;
}

.best-seller {
  background-color: wheat;
  height: 250px;
  width: 100vw;
  position: absolute;
  margin-top: 470px;
}
.clothing {
  margin-top: 40px;
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
.clothing img {
  border-radius: 4px;
}
.clothing span {
  margin-left: 10px;
  margin-top: -40px;
  position: absolute;
  font-weight: 700;
  font-size: larger;
}
.login {
  position: absolute;
}
.login input {
  background-color: black;
  margin-top: 40px;
  position: absolute;
  width: 200px;
  color: white;
  display: none;
}
.footer{
  height: 600px;
  width: 100vw;
  background-color:#232F3E;
  margin-top: 740px;
  margin-left: -220px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 100px;
}
.footer ul li{
  list-style: none;
  display:flex;
  font-weight: lighter;
  color: white;
font-family:  Tahoma; 
}
.footer ul{
  font-weight: bolder;
 color:whitesmoke;
  margin-top: 20px;
 
}
.footer ul li:hover{
  text-decoration: underline;
}
.footer-2{
  border-top: 1px solid black;
  width: 100vw;
  margin-top: 10px;
  height: 100px;
}
.footer-2 img{
  margin-left: 40%;
}
.footer-2 img:hover{
  box-shadow: none;
  transform: none;
}
.footer-2 ul{
  display: flex;
  gap: 20px;
  margin-left:70px;
}
.footer-3{
  position: absolute;
  margin-top: 450px;
  background-color: #131A22;
  width: 100vw;
  height: 250px;
  font-size: small;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px  200px ; 
  grid-template-rows: 200px 200px 200px 200px 200px 200px ;
  gap: 10px;
}
.copyright{
  height:0px;
}
.copyright  p{
  color: white;
  position: absolute;
  width: 500px;
  margin-left: 420px;
  margin-top: -30px;
  font-size: small;
  
}
.copyright span{
  color: white;
  margin-left: 470px;
  margin-top: -20px;
  position: absolute;
}
.drop-menu{
  color: white;
  /* display: none; */
}